<% @organizer_lists.each do |organizer_list| %>
    <div class="index_row clearfix">
      <h2 class="organizer_list_title"><%= link_to organizer_list.title, organizer_list %></h2>
      <p class="organizer_list_sub_title"><%= organizer_list.description %></p>
    </div>
<% end %>

<div class="links">
  <%= link_to "New Organizer List", new_organizer_list_path %>
</div>
