<p><%= organizer_item.content %></p>
<%=  link_to 'Delete', organizer_list_organizer_item_path(@organizer_list, organizer_item.id), method:  :delete, data: {
                                                                                           confirm: "Are you sure?" } %>
